@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar , .content {
  @apply min-h-[100vh]
}

.card {
  @apply bg-yellow-100/60 rounded-xl shadow-md p-4 hover:bg-yellow-100
}

.header {
  @apply font-bold text-zinc-900 text-3xl 
}

.sub-header {
  @apply font-semibold text-xl text-zinc-700
}

.btn-delete {
  @apply text-zinc-600 text-end align-middle opacity-0 group-hover:opacity-100 transition-opacity duration-200
}